@{
    ViewBag.Title = "File Upload - Dosya Yükleme İşlemi";
}

<h1>@ViewBag.Title</h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="dosya" />
    <input type="submit" value="Yükle" class="btn btn-primary" />
</form>

<hr>

<img src="/Images/@TempData["Resim"]" alt="Resim yok" height="118" />

<h6>Resim Adı : @TempData["Resim"]</h6>

<p>
    Dosya yüklemek için bir form elementine ihtiyaç var.
    Form elementine enctype= "multipart/form-data" attribute ünü eklemek zorundayız
    Formda dosya elementine verilen isim önemli post metodunda bu elementin name değerine göre eşleşme sağlanıyor!
</p>

@{
    var dosyalar = new DirectoryInfo(Directory.GetCurrentDirectory() + "/wwwroot/Images/");
    var infoList = dosyalar.GetFiles();
}

<table class="table table-hover">
    <tr>
        <th>Resim</th>
        <th>Dosya Adı</th>
        <th>Oluşturma Tarihi</th>
        <th>Dosya Boyutu</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in infoList)
    {
        <tr>
            <td>
                <img src="/Images/@item.Name" title="@item.Name" height="41" />
            </td>
            <td>@item.Name</td>
            <td>@item.CreationTime</td>
            <td>@item.Length</td>
            <td>
                <form action="/MVC10FileUpload/ResimSil" method="post">
                    <input type="hidden" name="resimYolu" value="@item.FullName" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Resmi Silmek İstiyor Musunuz?')">
                        <span class="btn-close-white"></span>
                    </button>
                </form>
            </td>
        </tr>
    }
</table>