@{
    ViewBag.Title = "MVC02 Html Helpers";
}

<h2>MVC Html Helpers</h2>

@Html.ActionLink("Anasayfa", "Index", "Home") @*linkText, actionName, controllerName parametreleri ile yönlendirme sağlar*@

@Html.ActionLink("MVC01 Razor Syntax", "Index", "MVC01RazorSyntax")

<a href="/">Anasayfa</a>

<hr>

<h3>Html Checkbox Oluşturma</h3>

<label>
    <input type="checkbox" name="cbOnay" />Onaylıyorum
</label>
@*mvc nin checkboxı*@
<label>
    @Html.CheckBox("Onay") Onaylıyorum
</label>
<hr>

<h3>Html TextBox OLuşturma : veri giriş</h3>

<input id="txtSoyad" name="txtSoyad" type="text" value="" />
<br>

@Html.TextBox("txtAd") Ekranda type ı olan giriş(input) elementi oluşturur.

<hr>

<input id="txtMiktar" name="txtMiktar" type="number" value="" />
<br>

@Html.TextBox("txtMiktar") Ekranda veri tipine göre otomatik tipi ayarlı giriş(input) elementi oluşturur.

<hr>

<h3>Html Hidden(Gizli Element) Oluşturma</h3>

@Html.Hidden("GizliElement", "Html Hidden(GizliElement) deki veriler sadece sayfa kaynağında görünür")

"Html Hidden(GizliElement) deki veriler sadece sayfa kaynağında görünür"
<hr>

<h3>Html Label Oluşturma</h3>
@Html.Label("lblAd", "Html label elementi")
<hr>

<h3>Html Textarea(Çok Satırlı input) Oluşturma</h3>
@Html.TextArea("txtAdres", "Html Textarea(Çok Satırlı input) Oluşturma")
<hr>

<h3>Html Password Oluşturma</h3>
@Html.Password("txtPassword")
<hr>

<h3>Html Helpers ile Form Oluşturma</h3>
@using (Html.BeginForm())
{
    <h4>Kullanıcı Adı</h4>
    @Html.Editor("txtKullaniciAdi") @*textbox da kullanılabilir*@
    <h4>Şifre</h4>
    @Html.Password("txtPassword")
    <br>
    <input type="submit" value="Giriş"/>
}
<hr>

<h3>ListBox(Çoklu Seçimli Liste) ve DropDownList(Aşağı Açılır Menu) Elementi Kullanımı</h3>
@{
    var liste = new SelectListItem[]{
        new SelectListItem()
        {
            Text = "Bilgisayar"
        },
        new SelectListItem()
        {
            Text = "Elektronik"
        },
        new SelectListItem()
        {
            Text = "Telefon"
        }
    };
}
@Html.ListBox("lbListe", liste)
<br>

@Html.DropDownList("ddListe", liste)
<hr>

<h3>RadioButton(Seçim) Elementi Kullanımı</h3>
<h5>Sözleşmeyi</h5>
<label>
    @Html.RadioButton("rbOnay", "Onay") Onaylıyorum
</label>
<label>
    @Html.RadioButton("rbOnay", "Red") Onaylamıyorum
</label>
<hr />

@*Raw: Html de ekrana css ile içerik yazdırma*@
@{
    string htmlRawOrnek = "<h5>Html ile Ekrana İçerik Yazdırma</h5>";
}
<h3>Html Raw ile Ekrana Html İçerik Yazdırma</h3>

@htmlRawOrnek
@Html.Raw(htmlRawOrnek)
@Html.Raw("<b style = 'color: red'> Html Raw ile Ekrana Html İçerik Yazdırma</b>")
<hr>

<h2>Tag Helpers</h2>
@*form - a elementlerinde kullanılır asp- ler tag helpers*@
<h3>a elementi</h3>
<a asp-action="Index" asp-controller="Home" asp-route-id="18">Anasayfa</a>

<h3>Form Oluşturma</h3>
<form asp-action="Index" asp-controller="MVC02HtmlAndTagHelpers" method="post">
    <h4>Kullanıcı Adı</h4>
    <input id="txtKullaniciAdi" name="txtKullaniciAdi" type="text" value="" />
    <h4>Kullanıcı Adı</h4>
    <input id="txtSifre" name="txtSifre" type="text" value="" />
    <br>
    <input type="submit" value="Giriş"/>
</form>