@*

*@
@model Adres
@{
    ViewData["Title"] = "Adres Bilgileri";
}

<h1>Adres Bilgileri</h1>

null referans hatasındn kurtulma bloğu
@if (Model is not null)
{
    <table>
        <tr>
            <td>Şehir</td>
            <td>@Model.Sehir</td>
        </tr>
        <tr>
            <td>İlçe</td>
            <td>@Model.Ilce</td>
        </tr>
        <tr>
            <td>Açık Adres</td>
            <td>@Model.AcikAdres</td>
        </tr>
    </table>
}

<h3>Adres Düzenle (klasik)</h3>

<hr>
@using (Html.BeginForm())
{
    <table class="table table-striped table-hover">
        <tr>
            <td>Şehir</td>
            <td>@Html.EditorFor(model => model.Sehir)</td>
        </tr>
        <tr>
            <td>İlçe</td>
            <td>@Html.EditorFor(model => model.Ilce)</td>
        </tr>
        <tr>
            <td>Açık Adres</td>
            <td>
                @Html.TextAreaFor(model => model.AcikAdres)
            </td>
        </tr>
        <td>
            <input type="submit" value="Kaydet" />
        </td>
    </table>

}
<h3>Adres Düzenle (Yeni)</h3>

<hr>
<form asp-action="AdresDetay" method="post">
    <table class="table table-striped table-hover">
        <tr>
            <td>Şehir</td>
            <td><input asp-for = "Sehir" class="form-control" /></td>
        </tr>
        <tr>
            <td>İlçe</td>
            <td><input asp-for="Ilce" class="form-control" /></td>
        </tr>
        <tr>
            <td>Açık Adres</td>
            <td><input asp-for="AcikAdres" class="form-control" /></td>
        </tr>
        <td>
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </td>
    </table>
</form>