@model Kullanici 
@*sayfada kullanılcak model class*@
@*bu sayfada model kullanabilmek için içi dolu bir backend göndermemiz lazım*@

@{
    ViewData["Title"] = "Kullanıcı Detayı";
}
<h1>Kullanıcı Detayı</h1>

<h3> Model içerisinden gelen verileri ekranda gösterme</h3>

<table class="table">
    <tr>
        <td>Ad</td>
        <td>@Model.Ad</td> @*çağırılan model yoluyla prop çağırma*@
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Sifre</td>
        <td>@Model.Sifre</td>
    </tr>
</table>

<h3>
    Model içerisinden gelen verileri düzenleme
</h3>
<form asp-action="KullaniciDetay" method="post">
    <table class="table table-bordered">
        <tr>
            <td>Ad</td>
            <td>@Html.TextBoxFor(model => model.Ad)</td> @*ilgili propert ile html üzerinden veri gönderme işlemi yapılabilir - modeldeki ad için textbox oluştur*@
        </tr>
        <tr>
            <td>Soyad</td>
            <td>@Html.EditorFor(model => model.Soyad)</td> @*düzenle*@
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.EditorFor(model => model.Email)</td> @* modeldeki email için email formatını kontrol et oluştur *@
        </tr>
        <tr>
            <td>Sifre</td>
            <td>@Html.EditorFor(model => model.Sifre)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>