@*
    Yorum satırı
*@

@model Kullanici
@{
    ViewData["Title"] = "Kullanıcı Detayı";
}
<h1>Kullanıcı Detayı</h1>

<h3> Model içerisinden gelen verileri ekranda gösterme</h3>

<table class="table">
    <tr>
        <td>Ad</td>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Sifre</td>
        <td>@Model.Sifre</td>
    </tr>
</table>

<h3>
    Model içerisinden gelen verileri düzenleme
</h3>

<form asp-action="KullaniciDetay" method="post">
    <table class="table table-bordered">
        <tr>
            <td>Ad</td>
            <td>@Html.TextAreaFor(model => model.Ad)</td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td>@Html.TextAreaFor(model => model.Soyad)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextAreaFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>Sifre</td>
            <td>@Html.TextAreaFor(model => model.Sifre)</td>
        </tr>

    </table>
</form>