@{
    ViewData["Title"] = "MVC03 Data Transfer";
}

<h1>Mvc de Controller den View a Veri Gönderme</h1>
<h3>@ViewBag.UrunKategorisi Ürünleri</h3>

<table class="table table-striped table-hover">
    <tr>
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Stok</th>
    </tr>
    @foreach (var item in ViewBag.Urunler)
    {//herhangi bir yazım yanlışı yapılmamalı
     <tr>
         <td>@item.Adi</td>
         <td>@item.Fiyati</td>
         <td>@item.Stok</td>
     </tr>
    }
    <caption>
        @TempData["UrunBilgi"] @*ürün bilgisi yazdırıldı controllerdaki*@
    </caption>
</table>
@TempData["UrunBilgi"] @*table dışında da yazdırılabilir*@

<table class="table table-striped table-hover">
    <tr>
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Stok</th>
    </tr>
    @foreach (var item in ViewData["Urunler"] as List<Urun>)
    {
        //backend de viewdata ile veri yollayıp viewbag ile gösterim yapılabilir
        //bu yapıda hataya izin vermez !!
        <tr>
            <td>@item.Adi</td>
            <td>@item.Fiyati ₺</td>
            <td>@item.Stok</td>
        </tr>
    }
    <caption>
        @TempData["UrunBilgi"]
    </caption>
</table>

<hr>

<h2>MVC de View dan Controller a Veri Gönderme</h2>
<h3>1-Get Metoduyla Veri Gönderme</h3>
<form action="/MVC03DataTransfer/Index" method="get">
    <input type="text" name="txtAra" />
    <button type="submit" class="btn btn-primary">Ara</button>
</form>

<p>
    Bir formun metodunu get yapıp çalıştırırsak, form içindeki veriler QueryString denilen yöntemle Tarayıcı adres çubuğu üzerinden sunucuya gönderilir.
    <hr>
    Veriyi Viewdan GET metoduyla göndermişsek, Controller'da da GET metoduyla yakalamalıyız!
</p>

<div class="alert alert-info">
    @ViewBag.GetVerisi
</div>

<h3>2-POST Metoduyla Veri Gönderme</h3>
@{
    var kategoriler = new List<SelectListItem>
    {
        new SelectListItem() {Text = "Bilgisayar", Value = "1"},
        new SelectListItem() {Text = "Monitör" },
        new SelectListItem() {Text = "Telefon", Value = "3"},
        new SelectListItem() {Text = "Televizyon"},
        new SelectListItem() {Text = "Tablet", Value = "5"},
    };
}

<form action="/MVC03DataTransfer" method="post">
    <table class="table table-hover">
        <tr>
            <td>Ürün Adı</td>
            <td>@Html.TextBox("txtUrunAdi")</td>
        </tr>
        <tr>
            <td>Kategori</td>
            <td>@Html.DropDownList("ddlKategori", kategoriler)</td>
        </tr>
        <tr>
            <td>Sözleşme</td>
            <td>
                <label>
                    @Html.RadioButton("rbOnay", "onay") Kabul Ediyorum
                </label>
                <label>
                    @Html.RadioButton("rbOnay", "red") Kabul Etmiyotum
                </label>
            </td>
        </tr>
        <tr>
            <td>Durum</td>
            <td>
                @Html.CheckBox("cbOnay") <label for="cbOnay">Aktif</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Gönder" />
            </td>
        </tr>
    </table>
</form>

@*viewbag verilerini controllar a aktarma işlemi ->*@
<div class="alert alert-info">
    <h4>@ViewBag.Baslik1</h4>
    <br>
    @ViewBag.Mesaj1
    <br>
    @ViewBag.Mesaj2
    <br>
    @ViewBag.Mesaj3
    <br>
</div>